<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiaoyi.secondworker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".SecondWorkerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 适配全面屏手机 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="776e12bff83c57e204b019b067aff222" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5cbfcf584ca35779e40005ee" />
        <!--
<meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value=""/>
        -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.center.ContactActivity" />
        <activity android:name=".ui.center.AboutUsActivity" />
        <activity android:name=".ui.center.AccountSafeActivity" />
        <activity android:name=".ui.center.SystemSettingsActivity" />
        <activity android:name=".ui.center.PersonalDetailsActivity" />
        <activity android:name=".ui.center.HistoricalStepActivity" />
        <activity android:name=".ui.center.CollectActivity" />
        <activity android:name=".ui.center.RequirementActivity" />
        <activity android:name=".ui.center.MessggeActivity" />
        <activity android:name=".ui.shake.activity.BindMobileActivity" />
        <activity android:name=".ui.shake.activity.VoiceIdentifyActivity" />
        <activity android:name=".ui.shake.activity.ShakeActivity" />
        <activity android:name=".ui.shake.activity.ServiceIntroduceActivity" />
        <activity
            android:name=".ui.center.activity.LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.center.activity.SelectLocationActivity" />
        <activity
            android:name=".ui.center.activity.GetAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.map.AmapActivity" />
        <activity android:name=".ui.shake.activity.PostSuccessActivity" />
        <activity android:name=".ui.center.activity.OrderDetailsActivity" />
        <activity android:name=".ui.center.ActivityIntroduceActivity" />
        <activity android:name=".ui.center.PostDemandActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.center.CancelOrderActivity">

        </activity>
        <activity android:name=".ui.center.VoiceRecognitionActivity"></activity>
        <activity android:name=".ui.center.OrderManagementActivity" />
    </application>

</manifest>